:root {
    --darkgray: #242424;
    --offwhite: #e9e9e9;
}

body {
    background-color: var(--offwhite);
}

.jumbotron {
    background-color: var(--darkgray);
}

#header-text-bg {
    background: var(--offwhite);
    border-radius: 25px;
    width: 65%;
}

#current-time {
    color: green;
    font-weight: 900;
}

.row {
    width: 90%;
    border: 5px solid black;
    margin: 2px;
}

.past {
    background-color: #646464;
    width: 20%;
}

.present {
    background-color: #baddba;
    width: 20%;
}

.future {
    background-color: #97d5ee;
    width: 20%;
}

.save-column {
    width: 20%;
    background-color: #646464;
}

.saved {
    background-color: green;
    width: 17%;
}

